
.inventory_button {
  width: 150px;
  height : 100px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px;
  cursor: pointer;
  border-radius: 50%;
  background-color: pink;
}
.img_button {
  border: none;
}
