
.header {
  padding: 10px 50px 10px 50px;
  display: flex;
  justify-content: space-between;
}

.header > div {
  margin: 0px;
  font-size: 75px;
  color: Royalblue;
  font-family: Arial, Helvetica, sans-serif;
}

.header > div > img {
  vertical-align: middle;
  margin-bottom: 0.22em;
}
